.banner {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url('/images/banner.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.banner__content {
  background: color-mix(in srgb, var(--color-secondary02), transparent 15%);
  border-radius: 29px;
  padding: 48px 60px 58px;
  max-width: 788px;
  text-align: left;
}

.banner__text {
  color: var(--color-primary03);
  font-family: var(--font-primary);
  font-size: 50px;
  font-weight: var(--font-bold);
}
