.container {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

.container--row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  background: var(--color-background02);
  width: 100%;
}

@media not all and (--sm-viewport) {
  .container {
    max-width: 576px;
  }
}

@media not all and (--md-viewport) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media not all and (--lg-viewport) {
  .container {
    max-width: 1024px;
  }
}

@media not all and (--xl-viewport) {
  .container {
    max-width: 1312px;
  }
}
