.services {
  width: 100%;
  padding: 170px 0;
  background: var(--color-secondary01);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__content {
  width: 1200px;
  gap: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__title {
  width: 781px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__title-wrap {
  width: 120px;
  height: 24px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: var(--color-primary02);
}

.services__title-uppertext {
  font-family: var(--font-secondary);
  font-weight: var(--font-regular);
  font-size: var(--text-base);
  line-height: 1.48;
  letter-spacing: 0.145em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-secondary01);
}

.services__title-subtext {
  color: var(--color-primary03);
  font-family: var(--font-primary);
  font-weight: var(--font-bold);
  font-size: 45px;
  line-height: 1.16;
  text-align: center;
  margin: 0;
}

.services__grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.services__row {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.services__item {
  width: 387px;
  height: 324px;
  padding: 49px 47px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: #ebebeb;
}

.services__item-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.services__item-title {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.services__item-icon {
  width: 84px;
  height: 90px;
}

.services__item-title-text {
  font-family: var(--font-primary);
  font-weight: var(--font-semibold);
  font-size: 25px;
  line-height: 1.16;
  color: var(--color-primary03);
  margin: 0;
}

.services__item-text {
  font-family: var(--font-secondary);
  font-weight: var(--font-regular);
  font-size: var(--text-base);
  line-height: 1.48;
  color: #595566;
  margin: 0;
}

.services__item-dark {
  background: var(--color-primary03);
  width: 387px;
  height: 324px;
  padding: 49px 47px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.services__item-title-text-white {
  font-family: var(--font-primary);
  font-weight: var(--font-semibold);
  font-size: 25px;
  line-height: 1.16;
  color: var(--color-secondary02);
  margin: 0;
}

.services__item-text-white {
  font-family: var(--font-secondary);
  font-weight: var(--font-regular);
  font-size: var(--text-base);
  line-height: 1.48;
  color: var(--color-secondary02);
  margin: 0;
}
