.tag {
  background: var(--color-primary01);
  opacity: 1;
  border-radius: 20px;
  padding: 0 15px;
  gap: 10px;
  width: fit-content;
}

.tag-text {
  color: var(--color-primary03);
  font-family: var(--font-secondary);
  font-size: var(--text-base);
  font-weight: var(--font-regular);
  letter-spacing: 0.145em;
}
