/* stylelint-disable prettier/prettier */
.topbar {
  font-family: var(--font-secondary);
  font-size: var(--text-sm);
  font-weight: var(--font-regular);
  line-height: 1.6;
  color: var(--color-secondary02);
}

.topbar__item,
.topbar__socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topbar__socials {
  gap: 25px;
}

.topbar__social-link {
  display: inline-block;
  line-height: 0;
}
