body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

.page {
  background-color: var(--color-background01);
}
