:root {
  --color-yellow: #ffcc4a;
  --color-green: #4eaf4e;
  --color-dark: #181818;
  --color-gray: #f5f5f5;
  --color-white: #fff;
  --color-darker-dark: #181818;
  --color-darker-gray: #303030;
  --color-darker-white: #454540;
}
