:root {
  color-scheme: dark;

  --color-primary01: var(--color-yellow);
  --color-primary02: var(--color-green);
  --color-primary03: var(--color-dark);
  --color-secondary01: var(--color-gray);
  --color-secondary02: var(--color-white);
}
